body{
    margin: 0px;
    background-image: url("./img/edificios.jpg");
}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #05665e;
}

h6{
    font-size: 16px;
}

.card-green-square{
    width: 20%;
    height: 20%;
    border-radius: 10px;
    background-color: #94DBDD;
    margin: 1%;
}

.greenBoxes{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.card{
background-color: brown;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
width: 40vw;
height: 60vh;
left: 53%;
top: 15%;
}

#content-card{
display: flex;
flex-direction: row;
width: 45vw;
height: 50vh;
border-radius: 18px;
background-color: #4EC3B9;    
} 

footer{
    display: flex;
    height: 12vh;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}

.green-section{
    background:#4ec3b9ce;
    width: 45vw;
    height: 20vh;
}

header{
    display: flex;
    align-items: center;
}


#img-money{
margin-left: 20px;
margin-right: 15px;
 width: 60px;
 height: 60px;
}

main{
    display: flex;
    flex-direction: column;
}

#principal-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    height: 50vh;
}

.yellow-section{
   background-color: #fce561bb;
   width: 45vw;
}
