body{
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
}
.green-section{
    background:#4EC3B9;
    width: 45vw;
    height: 20vh;
   
}

header{
    display: flex;
    align-items: center;
}


#img-money{
margin-left: 20px;
margin-right: 15px;
 width: 60px;
 height: 60px;
}

#principal-text{
    top: 0px;
    height: 45vh;
}

.yellow-section{
   background-color: #FBD14E;
   width: 45vw;
}
